//keyframe anime
@keyframes zoom-in{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
    
}
// @keyframes flash-slide{
//     from{
//         transform:translateX(300px);
//     }
//     to{
//         transform:translateX(0px);
//     }
    
// }
// @keyframes slide-in{
//     from{
//         width:0%;
//     }
//     to{
//         width: 50%;
//     }
    
// }
// @keyframes slide-in-xl{
//     from{
//         width:0%;
//     }
//     to{
//         width: 45%;
//     }
    
// }
// @keyframes slide-in-xl-x{
//     from{
//         width:0%;
//     }
//     to{
//         width: 39%;
//     }
    
// }
// @keyframes slide-in-xl-x-img{
//     from{
//         width:0%;
//     }
//     to{
//         width: 100%;
//     }
    
// }
// @keyframes iv-to-v{
//     from{
//         opacity:0;
//     }
//     to{
//         opacity:1;
//     }
    
// }

//button anime
.flash-button{
    font-weight: 500;
    padding: .3rem 1rem;
    font-size: 13px;
    color: #fff;
    background: $green;
    cursor: hand;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid #fff;
    position: relative;
    overflow: hidden!important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index:10;
    
    &:hover{
    border: 1px solid $green;
    color: #fff!important;
    background: #34828e;
    }
    // &::before {
    //     content: '';
    //     width: 0%;
    //     height: 100%;
    //     display: block;
    //     background: #34828e;
    //     position: absolute;
    //     -ms-transform: skewX(-20deg);
    //     -webkit-transform: skewX(-20deg); 
    //     transform: skewX(-20deg);   
    //     left: -10%;
    //     opacity: 1;
    //     top: 0;
    //     z-index: -12;
    //     -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    // -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    // -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    // transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    //     box-shadow:2px 0px 14px rgba(0,0,0,.6);
    // } 
    // &::after {
    //     content: '';
    //     width: 0%;
    //     height: 100%;
    //     display: block;
    //     background: #80ffd3;
    //     position: absolute;
    //     -ms-transform: skewX(-20deg);
    //     -webkit-transform: skewX(-20deg); 
    //     transform: skewX(-20deg);   
    //     left: -10%;
    //     opacity: 0;
    //     top: 0;
    //     z-index: -15;
    //     -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
    //     -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    //     -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    //     transition: all .4s cubic-bezier(.2,.95,.57,.99);
    //     box-shadow: 2px 0px 14px rgba(0,0,0,.6);
    // }
    // &:hover::before, &:hover::before{
    //     opacity:1;
    //     width: 116%;
    // }
    // &:hover::after, &:hover::after{
    //     opacity:1;
    //     width: 120%;
    // }
}