.flash-container{
    background-color: #afb8b15c;
    width: 100%;
    height: 100%;
    z-index: 1300;
    .flash-shine{
        position: absolute;
        width: 60px;
        height: 100px;
        top: 50%;
        left: 50%;
        z-index: 1300;

        @include media-min-md{
            width: 50px;
            height: 90px;
        }
        img{
            width: 100%;
            height: 100%;
           animation: shine 1.5s linear infinite;
        }
        @keyframes shine{
            0%{
                opacity: 1;
            }
            100%{
                opacity: 0;
            }
        }
    }
}