.loader-container{
    background-color: rgba(0, 0, 0, 0.49);
    width: 100%;
    height: 100%;
    z-index: 1200;

    // .oval-container{
    //     border: 12px solid #ffffff00;
    //     border-radius: 50%;
    //     border-top: 12px solid #599360;
    //     border-bottom: 12px solid #599360;
    //     width: 60px;
    //     height: 60px;
    //     -webkit-animation: spin 2s linear infinite;
    //     animation: spin 2s linear infinite;
    //     @include media-min-lg{
    //         width: 90px;
    //         height: 90px;
    //     }
    // }
    // @-webkit-keyframes spin {
    //     0% { -webkit-transform: rotate(0deg); }
    //     100% { -webkit-transform: rotate(360deg); }
    // }
    // @keyframes spin {
    //     0% { transform: rotate(0deg); }
    //     100% { transform: rotate(360deg); }
    // }

    .oval-container {
        display: inline-block;
        width: 80px;
        height: 80px;
      }
      .oval-container:after {
        content: " ";
        display: block;
        width: 60px;
        height: 60px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid #dfc;
        border-color: #599360 transparent #599360 transparent;
        animation: dual-ring 1.2s linear infinite;
        @include media-min-lg{
            width: 80px;
            height: 80px;
        }
      }
      @keyframes dual-ring {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    
}

// .lds-dual-ring {
//     display: inline-block;
//     width: 80px;
//     height: 80px;
//   }
//   .lds-dual-ring:after {
//     content: " ";
//     display: block;
//     width: 64px;
//     height: 64px;
//     margin: 8px;
//     border-radius: 50%;
//     border: 6px solid #dfc;
//     border-color: #599360 transparent #599360 transparent;
//     animation: lds-dual-ring 1.2s linear infinite;
//   }
//   @keyframes lds-dual-ring {
//     0% {
//       transform: rotate(0deg);
//     }
//     100% {
//       transform: rotate(360deg);
//     }
//   }