.modal{
    overflow: hidden;
    .modal-dialog{
        height: 100vh;
        .modal-content{
            @include media-max-md{
                margin: 20px 5px 20px 10px;
            }
            .modal-header {
                background-color :$light-blue;
                color : $white;
                font-size:16px;
            }
        }
    }
    
}