// Body
$body-bg: #FBFBFB;

// Typography
$font-family: 'Roboto', sans-serif;$font-size-base: 0.9rem;
$line-height-base: 1.6;
$dark-green :#28724cc9;
$yellow : #ff9900;
$green : #599360;
$water : #edf8f6;
$gray :#868282;
$dark-gray : #767676;
$light-green :#d7e4d8;
$light-blue :#34828e;
$white: #FFFFFF;
$white-green: #EAF7F5;
$white-dark-green: #E6F3F1;
$white-dark: #FAFAFA;
$light-gray: #656866;
$red: #FF0000;
