.buttons {
    background-color:$green;
    font-weight: 600;
    padding: 5px;
}
.delete-button {
    background-color:$light-blue;
    font-weight: 600;
    padding: 5px;
}
.addnew-button{
    padding: 5px;
    color : $green;
    .fa-solid{
        color: $green;
    }
}
.action-buttons{
    background-color: $green;
}
.designation-input-field{
    input{
        width: 55%;
        // @include $screen-lg{
        //     width: 45%;
        // }
        // @include $screen-lg{
        //     width: 55%;
        // }
    }
}
.verify {
    background-color: #e8f5fb;
    color: $green;
    font-weight: 600;
}
.form-control {
    &:focus {
        box-shadow: none !important;
    }
}
.water_con_table {
    border-collapse: unset !important;
}

.table > :not(caption) > * > * {
    border-bottom-width: 2.5px !important;
  }
thead{
    border-color: green !important;
  }
 tbody td {
    border-style: unset !important;
  }
  *, ::before, ::after {
    box-sizing: border-box;
  }
.btn {
    padding: 0px;
    &:focus {
        box-shadow: none !important;
    }
}