.landing{
    .rc-time-picker-panel-select-option-selected {
        background-color: #edeffe;
        font-weight: normal;
      }
    
    .rc-time-picker-clear,
    .rc-time-picker-clear-icon:after {
        font-size: 15px;
      }
    
    .rc-time-picker-panel-select,
    .rc-time-picker-input,
    .rc-time-picker-panel-input {
        ::-webkit-scrollbar {
          width: 0;
          height: 0;
        }
      }
 
    .tab-section {
        color :$dark-gray;
        .features-section{
            row-gap: 1rem;
            .field-container{
                row-gap: 1rem;
                @include media-max-sm{
                    width: 100%;
                }
            }
        }
        .admin-input {
            border: 1px solid $dark-gray;
            border-radius: 5px;
            background: transparent;
            color:$dark-gray;
            width:80%;
            padding:5px 10px;
        }
        .addClientBtn{
            .add-client-btn{
                font-weight: 500;
                width: 115px;
                padding: .4rem 1rem;
                font-size: 13px;
                color: #fff;
                background: $green;
                cursor: hand;
                text-align: center;
                text-transform: capitalize;
                border: 1px solid #fff;
                position: relative;
                overflow: hidden!important;
                -webkit-transition: all .3s ease-in-out;
                -moz-transition: all .3s ease-in-out;
                -o-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
                z-index:10;

            }
            .add-client-btn:hover{
                border: 1px solid $green;
                color: #fff!important;
                background: #34828e;
            }
            #addClientModal {
                overflow: auto;
                .modal-dialog{
                    margin: 20px auto;
                    height: auto;
                    @include media-min-md-x{
                        height: 100vh;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
    #editClientModal{
        overflow: auto;
        .modal-dialog{
            margin: 20px auto;
            height: auto;
            @include media-min-md-x{
                height: 100vh;
                margin: 0 auto;
            }
        }
    }
    #deleteClientModal, #permanentDeleteClientModal,#UpdateInactiveClientModal{
        overflow: auto;
        .modal-dialog{
            .modal-content{
                width: 90%;
                @include media-min-md{
                    width: 80%;
                }
                @include media-min-lg{
                    width: 60%;
                }
                .modal-body{
                    padding: 40px;
                    span {
                        animation: 1.4s zoom-in infinite ;
                        animation-timing-function: ease-in-out;
                        color: $red;
                        .fa-6x{
                            font-size: 4rem;
                        }
                    }
                    .yes-btn{
                        background-color: $green;
                    }
                    .no-btn{
                        background-color: $gray;
                    }
                }
            }
        }
    }
    .tab-content{
        .tab-pane{
            .table-container{
                // max-height: 660px;
                .table .tbody tr{
                    td{
                        &:nth-child(2), &:nth-child(3){
                            min-width: 230px;
                            text-align: center;
                            @include media-min-lg{
                                width: 280px;
                            }
                        }
                        .icon{
                            cursor: pointer;
                        }
                    }
                    th:first-child{
                        text-align: center;
                        padding-left: 25px;
                        min-width: 150px;
                        @include media-min-lg{
                            padding-left: 50px;
                            width: 250px;
                        }
                    }
                }
            }
        }
    }
}
