.viewwidth{
    width: 100px !important;
}

.viewRefreshLog {
    overflow-wrap: break-word;
    .viewRefreshHead{
        font-size: 500;
        font-size: 13px;
    }
  } 
  .deviceModeSetPoint{
    .viewContent{
        background-color: #f0f1ef;
        font-family: 'Roboto';
        color: #767676;
      }
    // .table-container{
    //     max-height: 1000px !important;
    //     color: antiquewhite;
    //     .table{
    //         tr{
    //             th{
    //                 min-width: 180px;
    //                 text-align: left !important;
    //                 &:nth-child(7){
    //                     text-align: center !important;
    //                 }
    //             }
    //             td {
    //                 text-align: left !important;
    //             }
    //             .noRecordFound{
    //                 text-align: center !important;
    //             }
    //             td{
    //                 &:nth-child(3), &:nth-child(4), &:nth-child(5){
    //                     min-width: 180px;
    //                     padding-left: 15px;
    //                     @include media-min-lg{
    //                         width: 200px;
    //                         padding-left: 5px;
    //                     }
    //                 }
    //                 &:nth-child(7){
    //                     text-align: center !important;
    //                 }
    //                 // &:nth-child(4), &:nth-child(5){
                     
    //                 // }
    //                 .icon{
    //                     cursor: pointer;
    //                 }
    //             }
    //             // th:first-child, td:first-child{
    //             //     text-align: center;
    //             //     // padding-left: 15px;
    //             //     // min-width: 75px;
    //             //     @include media-min-lg{
    //             //         // padding-left: 25px;
    //             //         width: 125px;
    //             //     }
    //             // }
    //         }
    //     }
    // }
  }

  