.device-landing{
    .tab-section {
        color :$dark-gray;
        .features-section{
            row-gap: 1rem;
            .field-container{
                row-gap: 1rem;
                @include media-max-sm{
                    width: 100%;
                }
            }
        }
        .addDeviceBtn{
            .addDevice-btn{
                font-weight: 500;
                // width: 100px;
                padding: .4rem 1rem;
                font-size: 13px;
                color: #fff;
                background: $green;
                cursor: hand;
                text-align: center;
                text-transform: capitalize;
                border: 1px solid #fff;
                position: relative;
                overflow: hidden!important;
                -webkit-transition: all .3s ease-in-out;
                -moz-transition: all .3s ease-in-out;
                -o-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
                z-index:10;

            }
            .addDevice-btn:hover{
                border: 1px solid $green;
                color: #fff!important;
                background: #34828e;
            }
            // .addDevice-btn::before {
            //     content: '';
            //     width: 0%;
            //     height: 100%;
            //     display: block;
            //     background: #34828e;
            //     position: absolute;
            //     -ms-transform: skewX(-20deg);
            //     -webkit-transform: skewX(-20deg);
            //     transform: skewX(-20deg);
            //     left: -10%;
            //     opacity: 1;
            //     top: 0;
            //     z-index: -12;
            //     -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
            // -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
            // -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
            // transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
            //     box-shadow:2px 0px 14px rgba(0,0,0,.6);
            // }
            // .addDevice-btn::after {
            //     content: '';
            //     width: 0%;
            //     height: 100%;
            //     display: block;
            //     background: #80ffd3;
            //     position: absolute;
            //     -ms-transform: skewX(-20deg);
            //     -webkit-transform: skewX(-20deg);
            //     transform: skewX(-20deg);
            //     left: -10%;
            //     opacity: 0;
            //     top: 0;
            //     z-index: -15;
            //     -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
            //     -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
            //     -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
            //     transition: all .4s cubic-bezier(.2,.95,.57,.99);
            //     box-shadow: 2px 0px 14px rgba(0,0,0,.6);
            // }
            // .addDevice-btn:hover::before, .addDevice-btn:hover::before{
            //     opacity:1;
            //     width: 116%;
            // }
            // .addDevice-btn:hover::after, .addDevice-btn:hover::after{
            //     opacity:1;
            //     width: 120%;
            // }
            #addDeviceModal {
                overflow: auto;
                .modal-dialog{
                    margin: 20px auto;
                    height: auto;
                    @include media-min-md-x{
                        height: 100vh;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
    #deleteDeviceModal, #deleteInactiveDeviceModal, #UpdateInactiveDeviceModal { 
        overflow: auto;
        .modal-dialog{
            .modal-content{
                width: 90%;
                @include media-min-md{
                    width: 80%;
                }@include media-min-lg{
                    width: 60%;
                }
                .modal-body{
                    padding: 40px;
                    span {
                        animation: 1.4s zoom-in infinite ;
                        animation-timing-function: ease-in-out;
                        color: $red;
                        .fa-6x{
                            font-size: 4rem;
                        }
                    }
                    .yes-btn{
                        background-color: $green;
                    }
                    .no-btn{
                        background-color: $gray;
                    }
                }
            }
        }
    }
    .tab-section {
        color :$dark-gray;
        .features-section{
            row-gap: 1rem;
            .search{
                width: 100%;
                @include media-min-sm{
                    width: 173px;
                    margin-right: 0.5rem;
                }
                    @include media-min-xl{
                        width: 200px;
                    }
                        @include media-min-xl-x-xl{
                            width: 265px;
                        }
            }
            select{
                width: 100%;
                background-color: white;
                color:#5a5858;
                border: 1px solid #c0bdbd;
                outline: none;
                border-radius: 4px !important;
            }
            .field-container{
                row-gap: 1rem;
                @include media-max-sm{
                    width: 100%;
                }
            }
                



        }
        .nav{
            @include media-min-lg{
                margin-bottom: 1rem;
            }
            @include media-min-xl{
                margin-bottom: 0;
            }
        }
    }
}