.landing-home {
    // padding-top: 60px;
    // padding-bottom: 40px;
    .landing-home-container {
        font-family: 'Roboto';
        @include media-min-md{ 
            max-width:60% !important;
            // margin-top: 20px;
        }
        @include media-min-lg{
            max-width:40% !important;
        }
        @include media-min-xl {
            max-width:33% !important;
        }
    }
    .white-card {
        position: relative;
        background-color: #fff;
        border-radius: 100px !important;
        width: 130px !important;
        height: 130px !important;
        box-shadow: 0px 0px 20px #d4d0d0 !important;        
    }
    .card-bg {
        position: absolute;
        background: linear-gradient(90deg, #41896D 0%, #155799 100%);
        border-radius: 100px;
        width: 100px;
        height: 100px;
        top: 14px;
        right: 14px;
        line-height:100px;
        text-align: center;
    }
    .content-text {
        color:#137560;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
    }
    .home-icons {
        width: 55%;
    }
    .buttons {
        font-weight: 400 !important;
        font-size: 14px !important;
    }
}