
.navbar  {
    @include media-min-lg{
        padding-top:0px !important;
        padding-bottom: 0 !important;
    } 
}
.bg-light {
    background-color: $light-green !important;
    // height: 35px !important;
    // margin: 0 !important;
    @include media-min-md{
        height: auto !important;
    }
    
    .menu-image {
        width: 16px !important;
        @include media-min-lg{
            width: 19px !important;

        }
    }
    .navbar-toggler {
       margin-top: 2px !important;
       border: none !important;
       margin-bottom: 0;
       padding-bottom: 0;
    }
    .nav-link  {
        font-weight: 400 !important;
        font-weight: 600 !important;
        cursor: pointer !important;
        font-size: 11px;
        @include media-min-md{
            font-size: 12px;
        }
        @include media-min-xl{
            font-size: 14px;
        }
    }
    #navbarTogglerDemo01 {
        @include media-min-lg{
            display: flex;
            justify-content: center;
        }
    }
    .activeMenu {
        background-color: $green;
        font-size: 12px;
    }
    ul {
        padding: 0;
        list-style: none;
    }

    .main_menu {
        li  {
        display: block;
        position: relative;
        text-align: left;
            &:hover {
                background-color: $green;                
            }
        }
       
        
    }

    ul li a {
        display: block;
        padding: 8px 35px;
        color: #333;
        text-decoration: none;
        white-space: nowrap;
        font-size: 12px;
    }
    .dropdown{
        li {
            &:hover {
                color: black;
                cursor:pointer;
                background: #d7e4d8;
            }
        }
        .activeMenu:hover{
            background-color: $green;
        }
        
    }
    ul li ul.dropdown {
        min-width: 100%;
        background: #f2f2f2;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
        @include media-min-xl-x{
            margin-top: 4px;
        }
    }

    ul li:hover ul.dropdown {
        display: block;
        color: #fff;
    }
}

