.rangeslider-horizontal {
    height: 8px !important;
}
.rangeslider-horizontal .rangeslider__handle::after {
    width: 7px !important;
    height: 7px !important;
    top: 4px !important;
    left: 3px !important;
}
.rangeslider-horizontal .rangeslider__handle {
    width: 16px !important;
    height: 16px !important;
}
.rangeslider-horizontal .rangeslider__fill {
    background-color: $green !important;
}