$verifiy-bg : "../../images/auth-bg.png";

.verifiy-email {
    background: url($verifiy-bg) no-repeat fixed center !important;
    width :100%;
    background-size: cover;
    $font-family:$font-family;
    padding: 20px 15px;
    min-height: 100vh; 
    .message-container{

        .lock-image {
            width: 100%;
            @include media-min-md {
                transform: translate(0%, 30%);
                width: 65%;
            }
                @include media-min-md-x{
                    transform: translate(0%, 9%);
                }
                    @include media-min-lg{
                        transform: translate(0%, 1%);
                        width: 70%;
                    }
                        @include media-min-lg-x{
                            transform: translate(0%, -4%);
                            width: 75%;
                        }
                            @include media-min-xl{
                                width: 80%;
                                transform: translate(0%, 1%);
                            }
                                @include media-min-xl-x{
                                    transform: translate(0%, -1%);
                                }
        }
        .content {
            font-size: small;
            font-weight: 500;
            @include media-min-md {
                font-size: 16px;
            }
            @include media-min-lg {
                font-size: 20px;
            }
        }
    }
} 