.WaterConservationApiLog{

    .total-api-counter{
        background: #80808014;
        canvas{
            background: #fff;
        }
        h6{
            .date-span{
                font-style: italic;
                font-weight: 400 !important;
                font-size: 13px;
            }
            .total-span{
                font-size: 16px;
                @include media-min-lg{
                    font-size: 18px;
                }
            }
        }
    }
    .field-container{

        .filter-section{

            .filter-content-container{
                position: absolute;
                top: 120%;
                left: -7%;
                z-index: 2;
                background-color: #fff;
                width: 210px;
                padding: 1rem 1rem;
                height: auto;
                border-radius: 3px;
                border : 1px solid #8080804f;
                @include media-min-lg{
                    top: 145%;
                    left: -17%;
                    width: 235px;
                }
                .date-section{
                    input{
                        width: 100%;
                    }
                    .react-datepicker__input-container input {
                        width: 100% !important;
                        padding: 4px 5px !important;
                        border: 1px solid #dededb;
                        border-radius: 3px;
                        color: gray;
                   }
                   .data-picker input {
                        padding: 4px 5px !important;
                        border: 1px solid #ff1f1f;
                        border-radius: 3px;
                
                   }
                }
                
                .fa-xmark{
                    cursor: pointer;
                }
            
                label{
                    font-weight: 500 !important;
                }
            }
        }
    }
}

