footer {
    // padding: 30px;    
    .footer-container {
    background: $light-blue;
    width: 100%;
    // bottom: 0;
    // left: 0;
    .footer-content{
        p {
            font-size: 14px;
        }
    }
}
}
.master-container {
    height: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.body-container {
    flex: 1;
    display: flex;
//     @include media-min-lg-max-xl-xx {
//         align-items: center;
//   }
}