.landing-page-image{
    position: relative;
   background: linear-gradient(90deg, #5F965D 0%, #04718F 100%);
    @include media-min-xl{
        height: 170px;
    }
        @include media-min-xl-x{
            height: 174px;
        }
            @include media-min-xl-x-xl{
                height: 180px;
            }
                @include  media-min-lg-max-xl-x{
                    height: 185px;
                }
    &::before{
        content: '';
        position: absolute;
        left: 0%;
        top: 0%;
        width: 40%;
        height: 100%;
        background-color: #fff;
        border-top-right-radius: 12% 54%;
        border-bottom-right-radius:12% 54%;
        @include media-min-xs{
            width: 42%;
        }
        @include media-min-sm{
            width: 210px;
        }
        @include media-min-md{
            width: 244px;
        }
        @include media-min-md-x{
            width: 240px;
        }
        @include media-min-lg{
            width: 26%;
        }
        @include media-min-lg-x{
            width: 29%;
        }
        @include media-min-xl{
            width: 26%;
        }
        @include media-min-xl-x{
            width: 31.5%;
        }
        @include  media-min-xl-x-lg{
            animation: 3.5s slide-in-xl-x 1;
        }
        @include  media-min-xl-x-xl{
            width : 29%;
        }
            @include  media-min-lg-max-xl-x{
                border-top-right-radius: 8% 54%;
                border-bottom-right-radius:8% 54%;
                width : 27%;
            }
            @include  media-min-xl-xtra-lg{
                width : 39%;
            }
    }
    .image-container{
        height: 55px;
        align-items:center;
            @include media-min-sm{
                height: 75px;
            }
                @include media-min-md{
                    height: 100px;
                }
                    @include media-min-lg{
                        height: 145px;
                    }
                        @include media-min-xl{
                            height: 170px;
                        }
                            @include media-min-xl-x{
                                height: 180px;
                            }
                                @include media-min-xl-x-xl{
                                    height: 195px;
                                }
        .gwt-logo{
            width : 75px;
            min-height: 100%;
            animation: 3.5s slide-in 1;
            animation-timing-function: ease-in-out;
            @include media-min-xs{
                width: 95px;
            }
            @include media-min-sm{
                width: 136px;
            }
                @include media-min-md{
                    width: 157px;
                }
                    @include media-min-md-x{
                        width: 160px;
                    }   
                        @include media-min-lg{
                        }   
                            @include media-min-lg-x{
                                width: 191px;
                            }
                                @include media-min-xl-x{
                                    width:272px;
                                }
                                    @include  media-min-xl-x-lg{
                                    }
                                        @include media-min-xl-x-xl{
                                            width: 304px;
                                        }
                                            @include  media-min-lg-max-xl-x{
                                            }
            a{
                img{
                    width: 100%;
                    position: relative;
                    z-index: 7;
                    left: 45px;
                    @include  media-min-xl-x-lg{
                        animation: 3.6s slide-in-xl-x-img 1;
                    }
                }
            }
        }
        .flash-content{
            width:200px;
            height: 100%;
            animation: 7s iv-to-v 1;
            animation-timing-function: ease-in-out;
            @include media-min-sm{
                width:250px;
            }
            @include media-min-md{
                width:320px;
            }
            @include media-min-md-x{
                width: 300px;
            }
            @include media-min-lg{
                width: 29%;
            }
            @include media-min-lg-x{
                width: 34%;
            }
            @include media-min-xl-x{
                width: 31%;
            }
            h3{
                opacity: 1;
                font-size: 16px;
                @include media-min-md{
                    font-weight: 700;
                    font-size: 19px;
                }
                    @include media-min-lg{
                        font-size: 24px;
                    }
                        @include media-min-xl{
                            font-size: 29px;
                        }
                            @include media-min-xl-x{
                                font-size: 26px;
                                letter-spacing: 1.3px;
                            }
                                @include media-min-xl-x-lg{
                                    font-size: 28px;
                                }
                                    @include media-min-xl-x-lg{
                                        font-size: 28px;
                                    }
                                        @include media-min-xl-x-xl{
                                            font-size: 32px;
                                        }
            }
            img{
                height: 36px;
                width: 22px;
                @include media-min-sm{
                    width: 22px;
                }
                    @include media-min-md{
                        width: 24px;
                        height: 45px;
                    }
                        @include media-min-md-x{
                            width: 25px;
                            height: 45px;
                        }
                            @include media-min-lg{
                                width: 28px;
                                height: 55px;
                            }
                                @include media-min-lg-x{
                                    width: 28px;
                                    height: 55px;
                                    }
                                    @include media-min-xl-x-lg{
                                        width: 28px;
                                        height: 54px;
                                    }
                                        @include media-min-xl-x{
                                            // animation: 3s flash-slide 1;
                                            // animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
                                            width: 28px;
                                            height: 53px;
                                        }
            }
        }
        .group-content{
            @include media-min-md-x{
                width: 250px;
            }
                @include media-min-lg{
                    width: 34%;
                }
                    @include media-min-lg-x{
                        width: 33%;
                    }
            img{
                @include media-min-md-x{
                    width: 240px;
                }
                    @include media-min-lg{
                        width: 300px;
                    }
                        @include media-min-xl{
                            width: 370px;
                        }
                            @include media-min-xl-x{
                                width: 400px;
                            }
                                @include media-min-xl-x-xl{
                                    width: 471px;
                                }

            }
        }
    }
}